<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>New Task</h2>
    <form method="post">
        <div>
            <label for="category">Category</label>
            <input name="category" type="text" />
        </div>
        <div>
            <label for="task">Task</label>
            <input name="task" type="text" />
        </div>
        <div>
            <button type="submit">Submit task</button>
        </div>
    </form>
</body>
</html>